<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:include="fragments::header"></div>

<div class="container relative overflow-x-auto mx-auto my-10">
    <div class="mx-auto w-1/2 p-10 bg-gray-100 rounded-lg">
        <h1 class="text-2xl font-bold dark:text-white mb-5">Edit New Todo</h1>
        <form method="post" th:object="${todoDto}">
            <div class="mb-5">
                <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Todo ID</label>
                <input th:field="${todo.id}"
                       readonly
                       type="text" id="id"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Todo ID"/>
            </div>
            <div class="mb-5">
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                <input th:field="${todoDto.title}"
                       type="text" id="title"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Todo Title"/>

                <p class="mt-2 text-sm" th:if="${#fields.hasErrors('title')}" th:errorclass="text-red-600"
                   th:errors="${todoDto.title}"></p>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Todo
                    Description</label>
                <textarea
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="description"
                        placeholder="Add todo description"
                        th:field="${todoDto.description}"></textarea>
                <p class="mt-2 text-sm" th:if="${#fields.hasErrors('description')}" th:errorclass="text-red-600"
                   th:errors="${todoDto.description}"></p>
            </div>

            <div class="mb-5">
                <label for="default-datepicker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Due
                    date</label>
                <input th:field="${todoDto.due_date}"
                       type="text"
                       datepicker
                       datepicker-format="yyyy-mm-dd"
                       id="default-datepicker"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       placeholder="Due Date"/>

                <p class="mt-2 text-sm" th:if="${#fields.hasErrors('due_date')}" th:errorclass="text-red-600"
                   th:errors="${todoDto.due_date}"></p>
            </div>

            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Update Todo
            </button>
        </form>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>
</html>